<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  <class name="mobile_world.sign_in"/>
  <class name="mobile_world.sign_up"/>
  <class name="mobile_world.home_page"/>  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
